USE [master]
GO
/****** Object:  Database [InstituteManagement]    Script Date: 10/22/2025 2:58:19 PM ******/
CREATE DATABASE [InstituteManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InstituteManagement', FILENAME = N'D:\MSSQLDB\InstituteManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InstituteManagement_log', FILENAME = N'D:\MSSQLDB\InstituteManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InstituteManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InstituteManagement]
GO
USE [InstituteManagement]
GO
/****** Object:  Table [dbo].[Assessments]    Script Date: 10/22/2025 2:58:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessments](
	[AssessmentId] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentId] [int] NULL,
	[AssessmentType] [nvarchar](50) NULL,
	[AssessmentDate] [date] NULL,
	[Score] [decimal](5, 2) NULL,
	[TotalScore] [decimal](5, 2) NULL,
	[Remarks] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[AssessmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 10/22/2025 2:58:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendanceId] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentId] [int] NULL,
	[AttendanceDate] [date] NOT NULL,
	[Status] [nvarchar](1) NOT NULL,
	[Remarks] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Batches]    Script Date: 10/22/2025 2:58:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batches](
	[BatchId] [int] IDENTITY(1,1) NOT NULL,
	[BatchName] [nvarchar](50) NOT NULL,
	[CourseId] [int] NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[DaysOfWeek] [nvarchar](50) NULL,
	[MaxStudents] [int] NULL,
	[CurrentStudents] [int] NULL,
	[IsActive] [bit] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 10/22/2025 2:58:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DurationWeeks] [int] NOT NULL,
	[TotalHours] [int] NOT NULL,
	[Fee] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 10/22/2025 2:58:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[BatchId] [int] NULL,
	[EnrollmentDate] [date] NULL,
	[CourseFee] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NULL,
	[TotalFee] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 10/22/2025 2:58:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentId] [int] NULL,
	[ReceiptNumber] [nvarchar](50) NOT NULL,
	[PaymentDate] [date] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](20) NULL,
	[Remarks] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 10/22/2025 2:58:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[StudentCode] [nvarchar](20) NOT NULL,
	[FullNameEnglish] [nvarchar](100) NOT NULL,
	[FullNameMyanmar] [nvarchar](100) NULL,
	[NRCNumber] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](500) NULL,
	[ParentName] [nvarchar](100) NULL,
	[ParentPhone] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherAssignments]    Script Date: 10/22/2025 2:58:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherAssignments](
	[AssignmentId] [int] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NULL,
	[BatchId] [int] NULL,
	[AssignmentDate] [date] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 10/22/2025 2:58:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[TeacherId] [int] IDENTITY(1,1) NOT NULL,
	[TeacherCode] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Specialization] [nvarchar](100) NULL,
	[Bio] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[JoinDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Batches] ON 

INSERT [dbo].[Batches] ([BatchId], [BatchName], [CourseId], [StartTime], [EndTime], [DaysOfWeek], [MaxStudents], [CurrentStudents], [IsActive], [StartDate], [EndDate]) VALUES (1, N'GE-L1-Morning', 1, CAST(N'06:30:00' AS Time), CAST(N'08:00:00' AS Time), N'Mon,Tue,Wed,Thu,Fri', 15, 0, 1, NULL, NULL)
INSERT [dbo].[Batches] ([BatchId], [BatchName], [CourseId], [StartTime], [EndTime], [DaysOfWeek], [MaxStudents], [CurrentStudents], [IsActive], [StartDate], [EndDate]) VALUES (2, N'Comp-Basic-Morning', 2, CAST(N'10:00:00' AS Time), CAST(N'11:30:00' AS Time), N'Mon,Tue,Wed,Thu,Fri,Sat', 15, 0, 1, NULL, NULL)
INSERT [dbo].[Batches] ([BatchId], [BatchName], [CourseId], [StartTime], [EndTime], [DaysOfWeek], [MaxStudents], [CurrentStudents], [IsActive], [StartDate], [EndDate]) VALUES (3, N'Python-Evening', 3, CAST(N'13:30:00' AS Time), CAST(N'15:00:00' AS Time), N'Mon,Wed,Fri', 12, 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Batches] OFF
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseId], [CourseName], [Description], [DurationWeeks], [TotalHours], [Fee], [IsActive], [CreatedDate]) VALUES (1, N'General English Level 1', N'Beginner English course focusing on conversation and basic grammar', 8, 48, CAST(200000.00 AS Decimal(18, 2)), 1, CAST(N'2025-10-22T11:27:02.703' AS DateTime))
INSERT [dbo].[Courses] ([CourseId], [CourseName], [Description], [DurationWeeks], [TotalHours], [Fee], [IsActive], [CreatedDate]) VALUES (2, N'Computer Basic', N'Essential computer skills for workplace', 10, 40, CAST(220000.00 AS Decimal(18, 2)), 1, CAST(N'2025-10-22T11:27:02.703' AS DateTime))
INSERT [dbo].[Courses] ([CourseId], [CourseName], [Description], [DurationWeeks], [TotalHours], [Fee], [IsActive], [CreatedDate]) VALUES (3, N'Python Programming', N'Foundation in Python programming language', 12, 48, CAST(280000.00 AS Decimal(18, 2)), 1, CAST(N'2025-10-22T11:27:02.703' AS DateTime))
SET IDENTITY_INSERT [dbo].[Courses] OFF
/****** Object:  Index [UK_EnrollmentDate]    Script Date: 10/22/2025 2:58:19 PM ******/
ALTER TABLE [dbo].[Attendance] ADD  CONSTRAINT [UK_EnrollmentDate] UNIQUE NONCLUSTERED 
(
	[EnrollmentId] ASC,
	[AttendanceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UK_StudentBatch]    Script Date: 10/22/2025 2:58:19 PM ******/
ALTER TABLE [dbo].[Enrollments] ADD  CONSTRAINT [UK_StudentBatch] UNIQUE NONCLUSTERED 
(
	[StudentId] ASC,
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Payments__C08AFDAB992248F2]    Script Date: 10/22/2025 2:58:19 PM ******/
ALTER TABLE [dbo].[Payments] ADD UNIQUE NONCLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__1FC886049859937A]    Script Date: 10/22/2025 2:58:19 PM ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Teachers__9B8A194E13F62C67]    Script Date: 10/22/2025 2:58:19 PM ******/
ALTER TABLE [dbo].[Teachers] ADD UNIQUE NONCLUSTERED 
(
	[TeacherCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assessments] ADD  DEFAULT ((100)) FOR [TotalScore]
GO
ALTER TABLE [dbo].[Batches] ADD  DEFAULT ((15)) FOR [MaxStudents]
GO
ALTER TABLE [dbo].[Batches] ADD  DEFAULT ((0)) FOR [CurrentStudents]
GO
ALTER TABLE [dbo].[Batches] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [EnrollmentDate]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TeacherAssignments] ADD  DEFAULT (getdate()) FOR [AssignmentDate]
GO
ALTER TABLE [dbo].[TeacherAssignments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Teachers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Teachers] ADD  DEFAULT (getdate()) FOR [JoinDate]
GO
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD FOREIGN KEY([EnrollmentId])
REFERENCES [dbo].[Enrollments] ([EnrollmentId])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([EnrollmentId])
REFERENCES [dbo].[Enrollments] ([EnrollmentId])
GO
ALTER TABLE [dbo].[Batches]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([BatchId])
REFERENCES [dbo].[Batches] ([BatchId])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([EnrollmentId])
REFERENCES [dbo].[Enrollments] ([EnrollmentId])
GO
ALTER TABLE [dbo].[TeacherAssignments]  WITH CHECK ADD FOREIGN KEY([BatchId])
REFERENCES [dbo].[Batches] ([BatchId])
GO
ALTER TABLE [dbo].[TeacherAssignments]  WITH CHECK ADD FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
USE [master]
GO
